<div id="navbar">


    <a href="/" class='nav'>
        <nav>
                <i class="fas fa-home"></i>
        </nav>
    </a>
    <a href="/portfolio" class='nav'>
        <nav>
                <i class="fas fa-briefcase"></i>
        </nav>
    </a>
    <a href="/contact" class='nav'>
        <nav>     
                <i class="fas fa-address-book"></i>
        </nav> 
    </a>
    <a href="/about" class='nav'>
        <nav>
                <i class="fas fa-ellipsis-h"></i>
        </nav>
    </a>







</div>