@import "../mixins/main";

@import "homepage/_welcome";
@import "homepage/_about";
@import "homepage/_expertise";





@media (max-width: 650px) {
    #expertise {
        width: 100%;
    }
    #about {
        width: 100%;
    }
}




.chalkboard-bg-img {
    @include static-bg-img();
    background-image: url("../images/welcome-img-optimized.jpg");
}

.workspace-bg-img {
    @include static-bg-img();
    background-image: url("../images/workspace-optimized.jpg");
}


.relevant-info-container{
    display: flex;
    flex-wrap: wrap;
}

.section-container {
    display: block;
    margin: 0;
    position: relative;
}
