.lapsusdev-capuccino {
	background-color: rgb(226,211,154) !important;
}

.lapsusdev-velvet { 
	background-color: rgb(157,47,77) !important;
}

.lapsusdev-latte {
	background-color: rgb(226,220,214) !important;
}

.lapsusdev-coffee {
	background-color: rgb(93,60,76) !important;
}

.lapsusdev-espresso {
	background-color: rgb(136,114,116) !important;
}