@import "homepage";
@import "portfolio";
@import "shared/footer.scss";
@import "shared/header.scss";
@import "shared/navbar.scss";


body {
    font-family: 'Montserrat', Geneva, Trebuchet MS, sans-serif;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
} 

.relevant-view-container{
    display: flex;
    flex-wrap: wrap;
}

.section-container {
    display: block;
    margin: 0;
    position: relative;
}


.lapsusdev-capuccino {
	background-color: rgb(226,211,154) !important;
}

.lapsusdev-velvet { 
	background-color: rgb(157,47,77) !important;
}

.lapsusdev-latte {
	background-color: rgb(226,220,214) !important;
}

.lapsusdev-coffee {
	background-color: rgb(93,60,76) !important;
}

.lapsusdev-espresso {
	background-color: rgb(136,114,116) !important;
}