	
<section class="section-container lapsusdev-velvet" id="footer">
	
    <p>made from scratch @ 2018</p>

    <div class="footer-icon-container">

            <a href="https://www.linkedin.com/in/gerardomijares/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/gerarddo"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/lapsusmijarus"><i class="fab fa-facebook-f"></i></a>
            <a href="https://codepen.io/gerarddo_xd"><i class="fab fa-codepen"></i></a>
            <a href="#"><i class="fas fa-book"></i></a>
    </div>
</section>