<div id="navbar">

    <nav>
        <i class="fas fa-home"></i>
    </nav>
    <nav>
        <i class="fas fa-briefcase"></i>
    </nav>
    <nav>
        <i class="fas fa-address-book"></i>
    </nav>
    <!-- <nav>
        <i class="fas fa-coffee"></i>
    </nav> -->
    <nav>
        <i class="fas fa-ellipsis-h"></i>
    </nav>






</div>