<!DOCTYPE html>
<html>
<head>
	<title>Tribute to Freddy Mercury</title>
	<!-- For displaying mexican accents -->	
		<meta charset="utf-8" />
	<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/(01)Tribute.css">
	<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<!-- Fonts and icons -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> 
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>
<body style="background-color: #222; color: white; font-size: 1.6em;">


<div class="jumbotron" style="background-color: #666">
	<div class="container">
		<h1 class="text-center">Freddy mercury</h1>
		<p style="font-size: 2em;" class="text-center"><em>...a legacy</em></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="thumbnail">
			<img style="width: 100%" src="http://www.youthareawesome.com/wp-content/uploads/2016/09/freddie-mercury-1.jpg">
			<h6 style="text-align: right; padding-right: 15px; color:#666">Freddy Mercury live</h6>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12 text-center">
			<p>
				<strong>Musical Education</strong>

				Singer-songwriter and musician Freddie Mercury was born Farrokh Bulsara on September 5, 1946, in Zanzibar, Tanzania. As the frontman of Queen, Freddie Mercury was one of the most talented and innovative singers of the rock era. He spent time in a boarding school in Bombay (now Mumbai), India, where he studied piano. It was not long before this charismatic young man joined his first band, the Hectics.

				Moving to London with his family in the 1960s, Mercury attended the Ealing College of Art. He befriended a number of musicians around this time, including future bandmates, drummer Roger Taylor and guitarist Brian May. In 1969, Mercury joined up with a group called Ibex as their lead singer. He played with a few other bands before joining forces with Taylor and May. They met up with bassist John Deacon in 1971, and the quartet—who Mercury dubbed Queen—played their first gig together that June.
			</p>
			<p>
				<strong>Queen</strong>

				In 1973, the band released their first self-titled album, but it took two more recordings for Queen's music to really catch on. Their third record, Sheer Heart Attack (1974), featured their first hit, "Killer Queen," a song about a high-class call girl. The single hit No. 2 on the U.K. charts, and peaked at No. 12 in the U.S.

				With a sound that has been described as a fusion of hard rock and glam rock, Queen had an even bigger hit the following year with their album, A Night at the Opera (1975). Mercury wrote the song "Bohemian Rhapsody," a seven-minute rock operetta, for the album. Overdubbing his voice, Mercury showed off his impressive four-octave vocal range on this innovative track. The song hit the top of the charts in Britain and became a Top 10 hit in the United States.

				In addition to his talents as a singer and songwriter, Mercury was also a skilled showman. He knew how to entertain audiences and how to connect with them. He liked to wear costumes—often featuring skintight spandex—and strutted around the stage, encouraging fans to join in the fun. Artistic in nature, Mercury was also actively involved in designing the art for many of the group's albums.

				Queen's popularity continued to soar through the late 70s and early 80s. "We Are the Champions," off of News of the World (1978), became a Top 10 hit in the United States and in Britain. It was featured on a single with "We Will Rock You"—both songs have taken on a life of their own as popular anthems played at sporting events. Always exploring new and different sounds, Queen also tried their hand at the big music trend of the time, with the disco-flavored "Another One Bites the Dust" in 1980. Off that same album, The Game (1980), Mercury and the rest of the band showed their range as performers with the rockabilly-influenced hit "Crazy Little Thing Called Love," which Mercury penned.
			</p>
			<p>
				<strong>Memorable Performances</strong>

				The following year, the members of Queen collaborated with David Bowie to create "Under Pressure." A No. 1 hit in Britain, the song's distinctive bass line was later reportedly used by Vanilla Ice for his 1990 rap hit "Ice, Ice Baby." Their abilities to sell albums began to wane by the mid-1980s after The Works (1984), which featured the minor hit "Radio Ga Ga."

				As a live act, Queen continued to draw huge crowds around the world. One of their most notable performances was in 1985 at the Live Aid charity concert. Simply dressed in a tank top and jeans, Mercury led the crowd through some of the band's greatest hits with great energy and style. He got the thousands of music fans at London's Wembley Stadium to chant along to "We Will Rock You." For many who watched the event live or on television, Queen gave one of the top performances of the day-long event, which was organized by singer and activist Bob Geldof and songwriter Midge Ure to raise money for victims of famine in Africa. Inspired by the event, the band wrote the hit "One Vision."

				In addition to his work with Queen, Mercury released several solo albums, including 1985's Mr. Bad Guy. He also collaborated with opera singer Montserrat Caralle for 1988's Barcelona.
			</p>
		</div>
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12">
				<p class="text-center">
					Source:
					<a style="margin: auto; color: #888;" href="https://www.biography.com/people/freddie-mercury-9406228" >www.biography.com</a>
				</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12">
				<p class="text-center"><a href="https://github.com/gerarddo/gerarddo.github.io" style="color:#888">GitHub Repository for code of this page</a></p>
			</div>
		</div>
	</div>
</div>















			<!-- Bootstrap's JavaScript-->
		<script type="text/javascript" src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>