<% include partials/_htmlheader %>
<body>

	<% include shared/header %>	
	<% include shared/navbar%>
	<div class="relevant-view-container fillRemainingHeight" >

		<h2 style="margin: auto; text-decoration: none;">
			<a href="./pdf/CV.pdf" style="color: white;">CV</a>
		</h2>

	</div>

<% include partials/_htmlscripts %>

</body>
</html>