<% include partials/_htmlheader %>
<body>

	<% include shared/header %>	
	<% include shared/navbar%>
	<div class="relevant-view-container fillRemainingHeight" >

	</div>

<% include partials/_htmlscripts %>

</body>
</html>