<% include partials/_htmlheader %>
<body>

	<% include shared/header %>	
	<% include shared/navbar%>
	<div class="relevant-view-container fillRemainingHeight" >
		<% include homepage/_expertise %>	
		<% include homepage/_about %>	
	</div>

<% include partials/_htmlscripts %>

</body>
</html>