<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<!-- For displaying mexican accents and shit -->	
		<meta charset="utf-8" />
	<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<!-- Fonts and icons -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> 
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


</head>
<body>

<div class="jumbotron">
	<div class="container">
		<h1>lapsusdev.com</h1>		
	</div>
</div>

<!--Parent container-->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="container-fluid text-justify">
				<h4>About</h4>
				<p>
					I am Gerardo Mijares. Friends call me Gerry. 
				</p>
				<p>
					Physics Engineering student. Guitar player. Self-taught (okay, I might have seen some bootcamps online) <strong>full-stack/science-driven developer</strong>. Based in Monterrey, N.L. 
				</p>
				<p>
					Hoping for this site to become the home of my projects.
				</p>
				<p>
					Send me an inbox on <a href="https://www.facebook.com/lapsusmijarus" target="_blank">fb</a> (fastest medium). More info on <a href="https://www.linkedin.com/in/gerardomijares/">LinkedIn</a>. 
				</p>
				<p>
					Please, take a peak around my portfolio! 
				</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12"> 
			<div class="container-fluid">
				<h4>Online code</h4>
				<ul>
					<li><a href="https://github.com/gerarddo" target="_blank">Github</a></li>
					<!-- <li><a href="#">Codepen</a></li> -->
					<!-- <li><a href="#">Boilerplates</a></li> -->
				</ul>

				<h4>Advanced Front End Development Projects</h4>
				<ul>
					<li><a href="http://www.congresonucleum.com" target="_blank">Congreso Nucleum 2018</a></li>
				</ul>

				<h4>Javascript software</h4>
				<ul>
					<li><a href="http://filler-cidep.herokuapp.com" target="_blank">Filler - CIDEP</a></li>
				</ul>

				<h4>Interesting Links</h4>
				<ul>
					<li><a href="http://www.autodidacts.io/host-a-ghost-blog-on-heroku/" target="_blank">Host a Free Ghost Blog on Heroku</a></li>
					<li><a href="http://blog.robertonodi.me/node-authentication-series-email-and-password/" target="_blank">Passport Authentication</a></li>
				</ul>
			</div>
		</div>
	</div>
	
</div>















			<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  		<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
			<!-- Bootstrap's JavaScript-->
		<script type="text/javascript" src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<!-- Custom Javascript file -->
		<!-- <script src="../assets/scripts/name.js"></script> -->

	</body>
</html>