<!DOCTYPE html>
<html>
<head>
	<title>lapsusdev</title>
	<!-- For mobile dimensioning -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- For displaying mexican accents and shit -->	
		<meta charset="utf-8" />
	<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/basic-theme.css">
		<link rel="stylesheet" type="text/css" href="css/lapsusdev-colors.css">
		<link rel="stylesheet" type="text/css" href="css/responsive-grid.css">
		<link rel="stylesheet" type="text/css" href="css/charts.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">

	<!-- Bootstrap -->
		<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
	<!-- Fonts and icons -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<link rel="image_src" href="images/thumbnail.png" / >

</head>
<body>

	<% include homepage/_welcome %>	
	<% include homepage/_about %>	

	<% include homepage/_projects %>
	<% include homepage/_contact %>	

	<% include partials/footer %>		
	
	
	

	
<!-- </div> -->








<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<script type="text/javascript" src="scripts/othermain.js"></script>



</body>
</html>