#welcome {
  text-align: left;
  background-color: #333333; }
  #welcome header {
    top: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 40px;
    color: white;
    font-size: 1.5em; }
  #welcome span {
    font-size: 18px;
    color: #c8c8c8; }
  #welcome p {
    color: #c8c8c8; }

#about {
  overflow: scroll;
  width: 40%; }
  #about .about-info-container {
    padding: 20px;
    color: white; }
    #about .about-info-container .about-info-cell {
      padding: 20px; }
      #about .about-info-container .about-info-cell p {
        width: 100%;
        display: block;
        color: #c8c8c8; }
      #about .about-info-container .about-info-cell a {
        text-decoration: underline;
        color: #c8c8c8; }

#expertise {
  width: 60%;
  overflow: scroll;
  background-color: #282828; }
  #expertise .expertise-info-container {
    display: block;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    width: 100%;
    color: white; }
    #expertise .expertise-info-container p {
      font-size: 1.3em;
      line-height: 2.5; }
    #expertise .expertise-info-container a {
      text-decoration: none;
      color: white; }
      #expertise .expertise-info-container a:hover {
        text-decoration: underline; }
    #expertise .expertise-info-container .break-line {
      display: block;
      height: 1px;
      border: 0;
      border-top: 3px solid steelblue;
      margin-bottom: 1em;
      margin-top: 1em;
      padding: 0;
      max-width: 400px; }
  #expertise .expertise-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #expertise .expertise-skills-container {
    width: 50%;
    display: block;
    padding: 40px;
    color: #c8c8c8; }
    #expertise .expertise-skills-container h3 {
      color: white; }
  #expertise .expertise-interesting-container {
    width: 50%;
    display: block;
    padding: 40px; }
    #expertise .expertise-interesting-container h3 {
      color: white; }
    #expertise .expertise-interesting-container a {
      text-decoration: none;
      color: #c8c8c8; }
      #expertise .expertise-interesting-container a:hover {
        color: white;
        text-decoration: underline; }

@media (max-width: 650px) {
  #expertise {
    width: 100%; }
  #about {
    width: 100%; } }

.chalkboard-bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/welcome-img-optimized.jpg"); }
  @media (max-width: 992px) {
    .chalkboard-bg-img {
      background-attachment: scroll; } }

.workspace-bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/workspace-optimized.jpg"); }
  @media (max-width: 992px) {
    .workspace-bg-img {
      background-attachment: scroll; } }

.relevant-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section-container {
  display: block;
  margin: 0;
  position: relative; }
