.lapsusdev-capuccino {
  background-color: #e2d39a !important; }

.lapsusdev-velvet {
  background-color: #9d2f4d !important; }

.lapsusdev-latte {
  background-color: #e2dcd6 !important; }

.lapsusdev-coffee {
  background-color: #5d3c4c !important; }

.lapsusdev-espresso {
  background-color: #887274 !important; }
