#welcome {
  text-align: center; }
  #welcome div {
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 10px;
    max-width: 350px;
    display: block;
    color: white;
    font-size: 1.5em; }

#about .container {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.5em;
  color: white; }

#about .about-img-container {
  float: left;
  width: 30%;
  padding: 30px; }
  #about .about-img-container .img-frame {
    display: block;
    max-width: 200px;
    position: relative; }
    #about .about-img-container .img-frame img {
      display: block;
      width: 100%;
      border-radius: 20px; }
  #about .about-img-container .img-frame-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    height: 100%;
    width: 100%;
    border-radius: 20px; }
    #about .about-img-container .img-frame-overlay:hover {
      background-color: rgba(255, 255, 255, 0.1); }

#about .about-info-container {
  float: left;
  width: 70%;
  padding: 30px; }
  #about .about-info-container p:first-of-type {
    margin-top: 35px; }
  #about .about-info-container .break-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #e2d39a;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0;
    max-width: 400px; }
  #about .about-info-container strong {
    font-size: 1.2em; }

@media (max-width: 992px) {
  #about .about-img-container,
  #about .about-info-container {
    width: 100%; }
  #about .about-img-container {
    float: none; }
    #about .about-img-container .img-frame {
      float: none;
      margin: auto; }
  #about .about-info-container {
    text-align: center; }
    #about .about-info-container .break-line {
      margin-right: auto;
      margin-left: auto; } }

#expertise h1 {
  margin: 30px;
  text-align: center; }

#expertise .expertise-info-container {
  max-height: 100%;
  width: 50%;
  float: left;
  overflow: hidden; }
  #expertise .expertise-info-container p {
    margin-right: 5%;
    margin-top: 15px;
    font-size: 1.3em; }

#expertise .row {
  height: 220px;
  padding-bottom: 30px; }

#expertise .chart {
  display: block;
  float: right;
  width: 50%;
  height: 100%; }

#expertise .bar {
  width: 100%;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
  padding-left: 1px;
  padding-right: 1px;
  height: 12.5%; }

#expertise .chart rect {
  fill: steelblue; }

#expertise .chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle; }

#projects {
  color: white;
  padding: 30px; }
  #projects h1 {
    display: block;
    text-align: center !important;
    font-size: 2em;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; }
  #projects .project-info-container {
    text-align: left;
    float: right;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 5%;
    width: 50%; }
    #projects .project-info-container h2 {
      margin-top: 20px; }
    #projects .project-info-container p {
      margin-top: 20px;
      color: #ccc; }
    #projects .project-info-container ul {
      margin-top: 20px; }
    #projects .project-info-container li {
      border-left: 1px solid #999;
      margin-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      color: #cfc9ad; }
  #projects .project-img-container {
    float: right;
    width: 50%;
    position: relative; }
    #projects .project-img-container .img-frame {
      display: block;
      position: relative;
      width: 90%;
      margin: auto; }
      #projects .project-img-container .img-frame img {
        display: block;
        width: 100%; }
    #projects .project-img-container .img-frame-overlay {
      position: absolute;
      background-color: rgba(255, 255, 255, 0);
      z-index: 2;
      height: 100%;
      width: 100%; }
      #projects .project-img-container .img-frame-overlay:hover {
        background-color: rgba(255, 255, 255, 0.1); }
  @media (max-width: 992px) {
    #projects h1 {
      margin-bottom: 0; }
    #projects .project-img-container {
      margin-top: 10px;
      width: 100%; }
    #projects .project-info-container {
      width: 100%;
      margin-bottom: 50px; }
      #projects .project-info-container h2 {
        margin-top: 0; }
      #projects .project-info-container p:first-of-type {
        margin-top: 10px; } }

#contact {
  display: block; }
  #contact .container {
    display: block;
    background-color: rgba(226, 220, 214, 0.6);
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 10px; }
    #contact .container header {
      max-width: 200px;
      margin-top: 10px;
      margin-bottom: 30px;
      margin-right: auto;
      margin-left: auto;
      text-align: center; }
    #contact .container p {
      max-width: 400px;
      display: block;
      margin-bottom: 30px;
      margin-right: auto;
      margin-left: auto; }
  #contact .contact-input-container {
    width: 50%;
    float: left;
    padding: 5px; }
    #contact .contact-input-container input {
      border-width: 0px;
      border-style: solid;
      border-radius: 5px;
      background-color: white;
      width: 100%;
      height: 33px;
      margin-top: 5px; }
  #contact .contact-textarea-container {
    width: 50%;
    float: right;
    padding: 5px; }
    #contact .contact-textarea-container textarea {
      width: 100%;
      border-width: 0px;
      border-style: solid;
      border-radius: 5px;
      background-color: white;
      margin-top: 5px;
      height: 109px; }
      #contact .contact-textarea-container textarea::-webkit-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 1;
        /* Firefox */ }
      #contact .contact-textarea-container textarea:-ms-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 1;
        /* Firefox */ }
      #contact .contact-textarea-container textarea::-ms-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 1;
        /* Firefox */ }
      #contact .contact-textarea-container textarea::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 1;
        /* Firefox */ }
  #contact button {
    display: block;
    height: 3em;
    background-color: white;
    width: 200px;
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto; }
    #contact button:hover {
      background-color: steelblue;
      color: white; }

.chalkboard-bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/welcome-img.jpg"); }
  @media (max-width: 992px) {
    .chalkboard-bg-img {
      background-attachment: scroll; } }

.workspace-bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/workspace.jpg"); }
  @media (max-width: 992px) {
    .workspace-bg-img {
      background-attachment: scroll; } }

.section-container {
  display: block;
  margin: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  position: relative; }

#footer {
  text-align: center; }
  #footer p {
    color: white;
    margin-top: 100px;
    font-size: 0.8em; }
  #footer .footer-icon-container {
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px; }
    #footer .footer-icon-container a {
      font-size: 2em;
      color: #e2d39a;
      padding-right: 10px;
      padding-left: 10px; }
      #footer .footer-icon-container a:hover {
        color: white; }

body {
  font-family: 'Montserrat', Geneva, Trebuchet MS, sans-serif; }

.lapsusdev-capuccino {
  background-color: #e2d39a !important; }

.lapsusdev-velvet {
  background-color: #9d2f4d !important; }

.lapsusdev-latte {
  background-color: #e2dcd6 !important; }

.lapsusdev-coffee {
  background-color: #5d3c4c !important; }

.lapsusdev-espresso {
  background-color: #887274 !important; }
