<section class="section-container lapsusdev-velvet" id="about">
<div class="container">

    <div class="row">
        <div class="about-img-container">
            <div class="img-frame">
                <!-- <a href="https://www.linkedin.com/in/gerardomijares/" target="_blank"> -->
                    <!-- <div class="img-frame-overlay"></div> -->
                    <img src="images/me.jpg" alt="Me smiling">
                <!-- </a> -->
            </div>
        </div>    
        <div class="about-info-container">
            <p>
                Hello, I'm 
                <a href="https://www.linkedin.com/in/gerardomijares/" target="_blank">
                    Gerardo Mijares
                </a>
            </p>
            <span class="break-line"></span>
            <!-- <hr class="break-hr"> -->
            <p>
                Physics Engineering student. Guitar player. Self-taught (okay, I might have seen some bootcamps online) <strong>full-stack / science-driven developer</strong>. Based in Monterrey, MX. 
            </p>
        </div>
    </div>
</div>
</section>