<section class="lapsusdev-velvet" id="about">

        <div class="about-info-container">
            <div class="about-info-cell">
                <h1>Name:</h1>
                <p>Gerardo Mijares</p>
            </div>
            <div class="about-info-cell">
                <h1>Email:</h1>
                <p>gerardo.mijares</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; @lapsusdev.com</p>
            </div>
            <div class="about-info-cell">
                <h1>Location:</h1>
                <p>Monterrey, MX</p>
            </div>
            <div class="about-info-cell">
                <h1>Current project:</h1>
                <p>Academic Research Experience @ CIDEP</p>
            </div>
            <div class="about-info-cell">
                <h1>More online:</h1>
                <a href="https://www.linkedin.com/in/gerardomijares/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/gerarddo"><i class="fab fa-github"></i></a>
                <!-- <a href="https://www.facebook.com/lapsusmijarus"><i class="fab fa-facebook-f"></i></a> -->
                <a href="https://codepen.io/gerarddo_xd"><i class="fab fa-codepen"></i></a>
                <a href="#"><i class="fas fa-book"></i></a>
            </div>
        </div>

        <!-- <div class="about-personal-container">
            <div class="about-img-container">
                <div class="img-frame">
                    <img src="images/me.jpg" alt="It seems my photo wasn't loaded!">
                </div>
            </div>
            <p>
                Hello, I'm 
                <a href="https://www.linkedin.com/in/gerardomijares/" target="_blank">
                    Gerardo Mijares
                </a>
            </p>
            <span class="break-line"></span>
            <p>
                Physics Engineering student. Guitar player. Self-taught (okay, I might have seen some bootcamps online) <strong>full-stack / science-driven developer</strong>. Based in Monterrey, MX. 
            </p>
        </div> -->
</section>