<section class="section-container" id="expertise">
<!-- <h1>What I do</h1> -->
<!-- <div class="container"> -->
    <!-- <div class="row"> -->
        <div class="expertise-info-container">
            <p>
                Hello, I'm 
                <a href="https://www.linkedin.com/in/gerardomijares/" target="_blank">
                    Gerardo Mijares
                </a>
            </p>
            <span class="break-line"></span>
            <p>
                I'm aiming to develop projects with a focus on science-related applications and/or divulgation. This means my areas of interest go from full-stack web development to data science and visualization.
            </p>
        </div>
        <div class="expertise-list-container">
            <div class="expertise-skills-container">
                    <h3>What I Do</h3>
                    <ul>
                        <li>HTML/CSS/Javascript</li>
                        <li>MySQL/MongoDB</li>
                        <li>Web design</li>
                        <li>UI Design with Angular 5</li>
                        <li>HTTP-based APIs</li>
                        <li>Dedicated VPS setup</li>
                        <li>Object Oriented Programming</li>
                        <li>Matlab for data visualization</li>
                    </ul>
                </div>
                <div class="expertise-interesting-container">
                    <h3>Interesting</h3>
                    <ul>
                        <li><a href="http://www.autodidacts.io/host-a-ghost-blog-on-heroku/" target="_blank">Host a Free Ghost Blog on Heroku</a></li>
                        <li><a href="http://blog.robertonodi.me/node-authentication-series-email-and-password/" target="_blank">Passport Authentication</a></li>
                        <li><a href="https://medium.com/@hellotunmbi/how-to-deploy-angular-application-to-heroku-1d56e09c5147">Deploy Angular App to Heroku</a></li>
                        <li><a href="https://scotch.io/tutorials/deploying-a-node-app-to-digital-ocean#clone-the-app-on-the-server" target="_blank">Deploy Node App on DigitalOcean VPS</a></li>
                        <li><a href="https://www.dataquest.io/blog/build-a-data-science-portfolio/" target="_blank">Tips On Data Science Portfolios</a></li>
                        <li><a href="https://github.com/d3/d3/wiki/Tutorials" target="_blank">D3 Tutorials</a></li>
                        <li><a href="https://blog.kissmetrics.com/open-graph-meta-tags/" target="_blank">Open Graph Meta Tags</a></li>
                        <li><a href="https://www.abeautifulsite.net/how-to-upgrade-or-downgrade-nodejs-using-npm" target="_blank">Easily downgrade NodeJS</a></li>
                        <li><a href="http://www.codetodd.com/creating-a-resizable-component-in-angular2/" target="_blank">Resizable Angular 5 components</a></li>
                        <li><a href="http://www.imagesmaller.com/" target="_blank">Optimize images</a></li>
                        <li><a href="https://medium.com/of-all-things-tech-progress/starting-with-authentication-a-tutorial-with-node-js-and-mongodb-25d524ca0359" target="_blank">Authentication</a></li>
                    </ul>
                </div>
        </div>

        <!-- <div class="expertise-list-container">

                <ul>
                    <li>HTML/CSS/Javascript</li>
                    <li>MySQL/MongoDB</li>
                    <li>Web design</li>
                    <li>UI Design with Angular 5</li>
                    <li>HTTP-based APIs</li>
                    <li>Dedicated VPS setup</li>
                    <li>Object Oriented Programming</li>
                    <li>Matlab for data visualization</li>
                </ul>    

        </div> -->
    <!-- </div> -->
<!-- </div> -->

</section>