<section class="section-container lapsusdev-latte" id="expertise">
<h1>What do i do?</h1>
<div class="container">
    <div class="row">
        <div class="expertise-info-container text-justify">
            <p>I'm aiming to develop projects with a focus on science-related applications and/or divulgation. This means my areas of expertise go from full-stack web development to data science and visualization. On the right I've included a relative comparison of the knowledge I possess of the shown technologies.</p>
        </div>
        <svg class="chart"></svg>
    </div>
</div>

</section>