<section class="section-container lapsusdev-latte" id="expertise">
<h1>What I do</h1>
<div class="container">
    <div class="row">
        <div class="expertise-info-container">
            <p>I'm aiming to develop projects with a focus on science-related applications and/or divulgation. This means my areas of expertise go from full-stack web development to data science and visualization.</p>
        </div>
        <div class="expertise-list-container">

                <ul>
                    <li>HTML/CSS/Javascript</li>
                    <li>MySQL/MongoDB</li>
                    <li>Web design</li>
                    <li>UI Design with Angular 5</li>
                    <li>HTTP-based APIs</li>
                    <li>Dedicated VPS setup</li>
                    <li>Object Oriented Programming</li>
                    <li>Matlab for data visualization</li>
                </ul>    

        </div>
    </div>
</div>

</section>