<section class="section-container lapsusdev-coffee" id="projects">
	<div class="container">
	
		<h1>Currently working on...</h1>
	
		<div class="row">
			<div class="project-info-container">
				<h2>Nucleum 2018</h2>
				<p>Student-run congress of chemical sciences and biotechnology.</p>
				<ul>
					<li>Custom made ejs template</li>
					<li>Independent Angular 5 UI for information updating</li>
					<li>Cloud storage for images</li>
				</ul>
			</div>
			<div class="project-img-container">
				<a href="http://www.congresonucleum.com" target="_blank">
					<div class="project-img-overlay"></div>
				</a>
				<img src="images/nucleum.png" alt="Nucleum 2018">
			</div>	
		</div>
		<div class="row">
			<div class="project-info-container">
				<h2>Filler</h2>
				<p>Software development project for ITESM's CIDEP</p>
				<ul>
					<li>HTTP-based api for back-end requests</li>
					<li>Angular 5 UI for parameter input</li>
					<li>Gcode simulator integrated</li>
				</ul>
			</div>
			<div class="project-img-container">
				<a href="http://filler-cidep.herokuapp.com" target="_blank">
					<div class="project-img-overlay"></div>
				</a>
				<img src="images/filler.png" alt="Filler - CIDEP">
			</div>
		</div>
	</div>
</section>
	