
<section class="section-container" id="_photo">
    <div class="photo-img-container">
        <div class="img-frame">
            <img src="images/me.jpg" alt="">
        </div>
    </div>
</section>
        