
<section class="section-container" id="_whoami">
    <div class="whoami-text-container">
        <p>
            Physics Engineering student. Guitar player. Self-taught (okay, I might have seen some bootcamps online) <strong>full-stack/science-driven</strong> developer."
        </p>
    </div>
</section>
	